doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       h1 FactsViz 
     .container
       .main-content
         block content
       .sidebar
         block sidebar
     footer
        p &copy; 2014 Seer Technologies, inc. 
